<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hl.ssnh">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.逝水年华">
        <activity android:name=".ui.detail.CompanyDetailActivity"></activity>
        <activity android:name=".ui.home.TbTjActivity" />
        <activity android:name=".ui.home.HhBdActivity" />
        <activity android:name=".ui.home.SbfmActivity" />
        <activity android:name=".ui.home.GTJlActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
    </application>

</manifest>